#root {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* CSS styles that apply to all screen sizes go outside any media queries */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, #ffe6ea, #d1f2eb);
  overflow: hidden;
}

#content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); /* Adjust according to your needs */
}

#heading{
  font-size: x-large;
}

#spline{
  flex-grow: 1;
}

.modal {
  display: block;
  position: fixed;
  z-index: 9999; /* High value to ensure it's on top of other content */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}


.modal-content {
  background: #fff4e6;
  margin: auto;
  padding: 20px;
  border: 2px solid #4b5320;
  width: 70%;
  max-width: 600px;
  position: relative;
  color: #4b5320;
  text-align: center;
  text-align: left;
}

.modal-content p {
  width: 95%;
}

.close {
  position: absolute;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  background-color: #333;
}

/* CSS styles for screen sizes 600px and up */
@media (min-width: 600px) {
  .modal-content {
    width: 80%;
  }

  .close {
    font-size: 32px;
  }
}

/* CSS styles for screen sizes 900px and up */
@media (min-width: 900px) {
  .modal-content {
    width: 70%;
  }

  .close {
    font-size: 36px;
  }
}
